#root {
  margin: 0 auto;
}

/** Use snake case for CSS classes, is more idiomatic */
.page-body {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  gap: 10px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}